@use '../abstracts/variables' as *;

.place-card__button {
    margin-top: auto;
    padding: 8px 16px;
    border-radius: $radius-sm;
    text-decoration: none;
    width: auto;
    align-self: center;

    &--primary {
        background-color: $color-primary;
        color: $color-white;

        &:hover {
            background-color: $color-hover;
            color: $color-white;
        }
    }
}

.weather-app .btn-primary {
    transition: all 0.3s ease;
    border-radius: 12px;


&:hover {
    transform: translateY(-3px) scale(1.04);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);    
}

&:active {
    transform: scale(0.96);
}
}


